.Banner {
    background-image: url(../../images/sporting-goods-and-guns2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 2px solid rgb(123, 255, 0); */
}

.BannerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    align-items: center;
    width: 100%;
}

.BannerLogo img {
    display: flex;
    height: 100%;
    /* margin-left: 18%; */
    margin-top: 2%;
}

@media (min-width: 756px) {
    .Banner {
        height: 220px;
    }
}